In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('../dataset/online_retail.xlsx')
df=df.drop(columns="InvoiceDate")
df.to_excel("../dataset/online_retail_without_datetime.xlsx", index = False)
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
19996,537999,22034,NaN,-223,0.00,NaN,United Kingdom
19997,538000,22942,CHRISTMAS LIGHTS 10 SANTAS,5,8.50,12748.0,United Kingdom
19998,538000,79321,CHILLI LIGHTS,12,4.95,12748.0,United Kingdom
19999,538001,35958,NaN,10,0.00,NaN,United Kingdom
20000,538002,22690,DOORMAT HOME SWEET HOME BLUE,2,7.95,14932.0,Channel Islands