In [18]:
import pandas as pd

### Task 3
Read exel

In [19]:
df = pd.read_excel("../../dataset/online_retail.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
9996,537224,22623,BOX OF VINTAGE JIGSAW BLOCKS,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom
9997,537224,21363,HOME SMALL WOOD LETTERS,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom
9998,537224,21556,CERAMIC STRAWBERRY MONEY BOX,2,2010-12-05 16:24:00,2.55,13174.0,United Kingdom
9999,537224,22497,SET OF 2 TINS VINTAGE BATHROOM,2,2010-12-05 16:24:00,4.25,13174.0,United Kingdom
10000,537224,22500,SET OF 2 TINS JARDIN DE PROVENCE,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom

### Size of data

In [20]:
df.shape[0]

10001

### Split data into some parts

In [22]:
size_of_one_part = 2001
num = 1
for i in range(0, df.shape[0], size_of_one_part):
    tmp = df.loc[i:i + size_of_one_part - 1]
    tmp.to_excel(f'../../dataset/z_2.2/parts/part{num}.xlsx', index=False)
    num += 1

# Need screenshot
### Union parts into one file

In [28]:
import os
df_all = pd.DataFrame()
path = "../../dataset/z_2.2/parts/"
for f in os.listdir(path):
    tmp = pd.read_excel(path+f)
    df_all = pd.concat([df_all,tmp])

df_all

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
1992,537224,22623,BOX OF VINTAGE JIGSAW BLOCKS,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom
1993,537224,21363,HOME SMALL WOOD LETTERS,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom
1994,537224,21556,CERAMIC STRAWBERRY MONEY BOX,2,2010-12-05 16:24:00,2.55,13174.0,United Kingdom
1995,537224,22497,SET OF 2 TINS VINTAGE BATHROOM,2,2010-12-05 16:24:00,4.25,13174.0,United Kingdom
1996,537224,22500,SET OF 2 TINS JARDIN DE PROVENCE,2,2010-12-05 16:24:00,4.95,13174.0,United Kingdom